/* all items in notch */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.notch > *{
	cursor: pointer;
	position:relative;
	border:none;
	background-color:transparent;
	color:white;
	font-weight:bold;
	font-size:28px;
	padding:none;
	display:inline-block;
	margin:0;
	padding:0;
}
#tutorial {
	padding:0 0 0 30px;
}
.notch {
	background-color:#262626;
	padding:0 15px;
	width:auto;
	display: inline-block;
}

.circle {
	overflow:overlay;
	display:inline-block;
	height:100px;
	width:45px;
	border-radius:50%;
	background-color:#262626;
	margin:-7.088px -28px;
}
.notchholder {
	position:relative;
	width:140px;
	margin-left:50%;
	margin-top:-70px;
	transform: translateX(-30%);
}
#label {
	top:-2px;
}
.text {
	font-family:arial;
	color:white;
	margin-top:30%;
	margin-left:15px;
}
.heading {
	font-size:48px;
}
.text {
	font-size:24px;
}
@keyframes bob {
	0% {transform: translateX(-50%) translateY(15px);}
	50% {transform: translateX(-50%) translateY(-15px);}
	100% {transform: translateX(-50%) translateY(15px);}
}
@keyframes startup {
	0% {transform: translateX(-50%) translateY(15px) rotate(0deg);}
	50% {transform: translateX(-50%) translateY(-15px) rotate(540deg);}
	100% {transform:  translateX(-50%) translateY(15px) rotate(540deg);}
}
.mazeIcon {
	opacity: 25%;
	saturate: 0;
	filter: contrast(0) brightness(1.75);
	position:absolute;
	top:100px;
	left: 50%;
	width: auto;
	height: 600px;
	z-index: 1;
	animation: bob 10s ease-in-out infinite;
}
.spincog {
	opacity: 35%;
	saturate: 0;
	filter: contrast(0) brightness(1.75);
	position:absolute;
	top:90px;
	left: 50%;
	width: auto;
	height: 600px;
	z-index: 1;
	animation: bob 10s ease-in-out infinite, startup 10s;
}
#popup {
	position: absolute;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 6%;
	background-color: #ebebeb;
	z-index: 1;
	padding: 20px;
	width: 700px;
	height: 600px;

}
#popup > * {
	margin:0 auto;
}
@keyframes transition {
	0% {transform:  translateY(-150%);
		opacity: 0%}
	60% {opacity: 100%}
	80% {transform:  translateY(15px);}
	100% {transform:  translateY(0px);}
}
@keyframes transitionOut {
	0% {transform:  translateY(0px);}
	20% {transform:  translateY(15px);}
	40% {opacity: 100%}
	100% {transform:  translateY(-150%);}
}
@keyframes fade {
	0% {opacity: 0%;}
	100% {opacity: 60%;}
}
@keyframes fadeMax {
	0% {opacity: 0%;}
	100% {opacity: 100%;}
}
@keyframes fadeOut {
	0% {opacity: 60%;}
	100% {opacity: 0%;}
}
@keyframes fadeOutMax {
	0% {opacity: 100%;}
	100% {opacity: 0%;}
}
@keyframes greyout {
	0% {filter: grayscale(0%);}
	100% {filter: grayscale(100%);}
}
@keyframes greenout {
	0% {filter: grayscale(100%);}
	100% {filter: grayscale(0%);}
}
.grey {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	pointer-events: none;
}
#closepopup {
	border: none;
	background: none;
	font-size: 32px;
	right: 15px;
	top: 15px;
	position: absolute;
	color: grey;
	font-family: 'Varela Round';
	cursor: pointer;
}
#instruction {
	font-size:48px;
	text-align:center;
	font-family: arial;
	font-weight:lighter;
	color:#8c8c8c;
}
.canvas{
	border:0px solid black; 
	display:none;
}
.buttons > * {
	padding:0px 0px;
	position:absolute;
	top:570px;
	cursor:pointer;
	font-family:Arial;
	font-size:40px;
	text-shadow:0px 1px 0px #3d768a;
	display:block;
	border: none;
	width:130px;
	height:30px;
	text-align:center;
	background:transparent;
}
.bordertool {
	top:200px;
	padding-left:330px;
	font-size:32px;
	position:absolute;
	cursor:pointer;
	font-family:Arial;
	text-shadow:0px 1px 0px #3d768a;
	display:block;
	border: none;
	width:130px;
	height:30px;
	text-align:center;
	background:transparent;
}
.borderTool:active {
	position:absolute;
	top:202px;
}
.buttons:active > * {
	position:absolute;
	top:572px;
}
.buttons {
	display:block;
	width:130px;
	margin:50% auto;
}
#loadGrey {
	z-index: 998;
}
.load {
	color:white;
	font-size:28px;
	z-index:999;
	font-family: arial;
	margin-top: 625px;
	text-align:center;
}
#error {
	color:#8c8c8c;
	font-size:20px;
	font-family: arial;
	margin:10px;
	text-align:center;
}
body {
	background-repeat: no-repeat; 
	background: rgb(49,0,89);
	background: linear-gradient(90deg, rgba(49,0,89,1) 0%, rgba(0,36,177,1) 56%, rgba(3,0,64,1) 100%);
	overflow:hidden;
}